{{>above}}
<h1>Meeting Minutes</h1>

<div class="columns meeting-overview">
    <div class="column col-6 meta-title">Date</div>
    <div class="column col-6">{{date}}</div>
    <div class="column col-6 meta-title">Time</div>
    <div class="column col-6">{{time}}</div>
    <div class="column col-6 meta-title">Minute taker</div>
    <div class="column col-6">{{minute-taker}}</div>
</div>
{{{contents}}}
{{>below}}
