---
layout: main.hbs
---

<div class="empty jumbotron">
    <p class="empty-title">Redbackup allows you to create encrypted backups and store them in your own distributed cloud.</p>
    <a href="{{#archive}}../{{/archive}}documents/problem-statement.pdf" class="btn btn-primary" >➡️ Checkout the task description</a>
</div>

<h3>Featuring</h3>

<ul>
<li>create compress and encrypt backups (content and metadata).</li>
<li>build a peer-to-peer network of trusted nodes over the internet.</li>
<li>store data with a defined degree of redundancy.</li>
<li>protect data from being modified or deleted</li>
<li>address and retrieve stored data.</li>
<li>allow access from clients including authentication over an API.</li>
</ul>

<h3>License</h3>
This is free software, published under the <a href="https://www.gnu.org/licenses/agpl-3.0.en.html">AGPL-License</a>.
