.logo {
    max-height: 3em;
}

.meeting-overview{
    max-width: 25rem;
}

.meta-title {
    font-weight: bold;
}

.navbar-brand > .sub {
  display: block;
  font-size: 0.8em;
}

.navbar-section > a {
    color: black;
}

.red{
    color: #de1300;
}

.navbar .navbar-brand{
    font-size: 2rem;
    padding-right: 1rem;
}

header {
    margin-top: 2rem;
    margin-bottom: 2rem;
}
