.jumbotron .empty-title{
    font-size: 1.8rem;
}
.jumbotron {
    margin-bottom: 2rem;
}

.logo {
    max-height: 3em;
}

.meeting-overview{
    max-width: 25rem;
}

.meta-title {
    font-weight: bold;
}

.navbar-brand > .sub {
  display: block;
  font-size: 0.8em;
}

.navbar-section > a {
    color: black;
}

.red{
    color: #dd3131;
}

.navbar .navbar-brand{
    font-size: 2rem;
    padding-right: 1rem;
}

.navbar .btn-link{
    font-size: 1.6rem;
    margin-left: 0.6rem;
}
header {
    margin-top: 2rem;
    margin-bottom: 2rem;
}
footer {
    margin-top: 4rem;
    margin-bottom: 1rem;
    padding-top: 0.5rem;
    border-top: solid 1px #f8f9fa;
